<html>
  <head>
    <title>Yadockeri</title>
    <script src="https://kit.fontawesome.com/f636eb60e3.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="title">
          <h1>{{index . "title"}}</h1>
        </div>
        <div class="login">
          <a class="github" href={{index . "auth_url"}}><i class="fab fa-github"></i>　Login with GitHub</a>
        </div>
      </div>
    </div>
  </body>
</html>
